# Add all of the environmental variables here instead of 
# embedding them directly in the app and utilize them 
# with the `DotEnv` package.

PORT=3000
JWT_SECRET='your_jwt_secret'
# You can generate a secret running `npm run generate:secret` and copy to this variable

#### Google oAuth
GOOGLE_CLIENT_ID='your_google_client_id'
GOOGLE_CLIENT_SECRET='your_google_client_secret'

#### Local/Dev DB Connection
DB_USERNAME='db_user'
DB_PASSWORD='your_password'
DB_NAME='health_care_aide'
DB_HOSTNAME='localhost'
DB_PORT=3306

EMAIL_USER='email_user'
EMAIL_PASSWORD='your_password'

### Datasource logging config
# query,schema,error,warn,info,log,migration
# query - logs all queries.
# error - logs all failed queries and errors.
# schema - logs the schema build process.
# warn - logs internal orm warnings.
# info - logs internal orm informative messages.
# log - logs internal orm log messages.
LOGGING='query,error,schema,warn,info,log'

### CORS config
CORS_ORIGINS='localhost:3000, localhost:5173'

